/* Appel des différents styles */
/* Ecriture du Titre principal de la page */
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap'); /* font-family: 'Lemonada', cursive; */


/* ------------------------------------------------------- */
/*                 MISE EN FORME DU BLOG                   */

/* --------------------------------- */
/* --------------------------------- */
/* MISE EN FORME DU TITRE DE LA PAGE */
/* --------------------------------- */
#titre_page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20vh;
    align-items: center;
    margin-top: 56px;
    background-image: url("../img/Fond_titre.webp");
    background-size: cover;
}
#titre_page .blog_flou {
    font-family: 'Lemonada', cursive;
    text-align: center;
    font-size: 200px;
	font-weight: 500;
    color: rgb(21 140 94);
}
/* Mise en forme pour écran < 450px */
@media screen and (max-width: 450px) {
    #titre_page {
        grid-template-rows: 250px;
    }
    #titre_page .blog_flou {
        font-size: 50px;
	}
}
/* Mise en forme pour écran entre 450 px et 700px */
@media screen and (min-width: 450px) and (max-width: 700px) {
    #titre_page {
        grid-template-rows: 250px;
    }
    #titre_page .blog_flou {
        font-size: 70px;
	}
}
/* Mise en forme pour écran entre 700 px et 1200px  */
@media screen and (min-width: 700px) and (max-width: 1200px) {
    #titre_page {
        grid-template-rows: 250px;
    }
    #titre_page .blog_flou {
        font-size: 110px;
	}
}
/* Mise en forme pour écran entre 1200 px et 1600px  */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
    #titre_page {
        grid-template-rows: 250px;
    }
    #titre_page .blog_flou {
        font-size: 120px;
	}
}
/* Mise en forme pour écran supérieur à 1600px */
@media screen and (min-width: 1600px) {
    #titre_page {
        grid-template-rows: 300px;
    }
    #titre_page .blog_flou {
        font-size: 160px;
	}
}



/* --------------------------------- */
/* --------------------------------- */
/*       MISE EN FORME DU BLOG       */
/* --------------------------------- */

#list_blog {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-content:flex-start;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
    background: #333;
}
#list_blog .comment_blog {
    grid-column: span 1;
	background-color: #ffff;
    margin: 20px;
    border: 2px solid #333;
}
#list_blog .comment_blog::hover {
    box-shadow: 0 8px 12px 0 white;
    color: #198819a8;
}
#list_blog .photo_blog {
    width: 100%;
    height: auto;
}
#list_blog .photo_blog img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
#list_blog .commentaire {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#list_blog .commentaire i {
    display: flex;
	padding-bottom: 10px;
}
#list_blog .commentaire i::before {
	padding-right:5px;
}
#list_blog .commentaire h4 {
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(44, 44, 43);
}
#list_blog .commentaire p {
    color: rgb(44, 44, 43);
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 15px 0px;
}
#list_blog .comment_blog .separation {
    border-top: 1px solid #9c9c9c;
    margin-bottom: 15px;
}
#list_blog .comment_blog .comment_like {
    text-align: right;
    font-size: 15px;
	color: black;
    margin: 0;
}
#list_blog .comment_blog .comment_time, .comment_time i {
    text-align: left;
    font-size: 15px;
    color: #9c9c9c;
    margin: 0;
    margin-bottom: 10px;
}
#list_blog .comment_blog .comment_user, .comment_user i {
    text-align: left;
    font-size: 15px;
    color: #9c9c9c;
    margin: 0;
    margin-bottom: 5px;
}
#list_blog .comment_blog .bt_like{
	display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
	color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
	width: 60px;
}

/* Mise en forme pour écran < 450px */
@media screen and (max-width: 450px) {
	#list_blog {
		grid-template-columns: repeat(1,1fr);
	}
}
/* Mise en forme pour écran entre 450 px et 700px */
@media screen and (min-width: 450px) and (max-width: 700px) {
	#list_blog {
		grid-template-columns: repeat(1,1fr);
	}
}
/* Mise en forme pour écran entre 700 px et 1200px  */
@media screen and (min-width: 700px) and (max-width: 1200px) {
	#list_blog {
		grid-template-columns: repeat(2,1fr);
	}
}
/* Mise en forme pour écran entre 1200 px et 1600px  */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
	#list_blog {
		grid-template-columns: repeat(3,1fr);
	}
}
/* Mise en forme pour écran supérieur à 1600px */
@media screen and (min-width: 1600px) {
	#list_blog {
		grid-template-columns: repeat(3,1fr);
	}
}



/* --------------------------------- */
/* --------------------------------- */
/*  MISE EN FORME D'UN NOUVEAU COMM  */
/* --------------------------------- */

#new_comment {
    text-align: center;
}
#new_comment .button_close button {
    background-color: #189687;
    color: white;
    padding: 10px 10px;
    margin: 8px;
    border: none;
    cursor: pointer;
    height: 100%;
    opacity: 0.9;
}
#new_comment .button_close button:hover {
    opacity:1;
}
#new_comment .ajout_avis .avis input, textarea {
    margin-top: 1em;
    width: 80%;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #888;
    background: transparent;
}
#new_comment .ajout_avis {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffffc7;
    padding-top: 50px;
}
#new_comment .ajout_avis .avis {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    box-shadow: 2px 2px 20px #888;
}
#new_comment .ajout_avis .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #cecccc;
} 
#new_comment .ajout_avis .close:hover,
#new_comment .ajout_avis .close:focus {
    color: #f44336;
    cursor: pointer;
} 
#new_comment .ajout_avis .avis .titre_avis {
    text-align: center;
    color: black;
}
#new_comment .ajout_avis .avis .form_bouton {
    margin-top: 1em;
    font-size: 15px;
    cursor: pointer;
    background: #189687;
    color: white;
    border-radius: 20px;
    border: 0;
}
#new_comment .ajout_avis .avis .form_bouton:hover {
    background: #0E7894;
}