/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*          MISE EN FORME DE LA PARTIE DES CGU         */
/* --------------------------------------------------- */

.CGU {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    text-align: justify;
}
.CGU h1, h2 {
    margin-bottom: 19px;
}
.CGU h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 35px;
    color: #128D5A;
}
.CGU .sous-titre {
    font-style: italic;
    margin-bottom: 19px;
    color: black;
}
.CGU h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin-top: 40px;
    color: #199688;
}
.CGU p {
    color: black;
    line-height: 25px;
    font-size: 18px;
    flex-wrap: wrap;
}
.CGU p span {
    color: #0E7894;
    flex-wrap: wrap;
}
.CGU ul li {
    margin-left: 3%;
}
/* Mise en forme pour écran entre 1200 px et 1600px  */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .CGU h2 {
        font-size: 28px;
    }
    .CGU p {
        line-height: 28px;
        font-size: 20px;
    }
}
/* Mise en forme pour écran supérieur à 1600px */
@media screen and (min-width: 1600px) {
    .CGU h2 {
        font-size: 30px;
    }
    .CGU p {
        line-height: 30px;
        font-size: 22px;
    }
}