.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.chat-bar-collapsible .collapsible {
    background-color: rgb(82, 151, 255);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid white;
    border-bottom: none;
}

.chat-bar-collapsible .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.chat-bar-collapsible .full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.chat-bar-collapsible .outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}
.chat-bar-collapsible .outer-container .questions_posees {
    padding: 1em;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}
.chat-bar-collapsible .content .full-chat-block .outer-container .chat-container .questions_posees h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    border-bottom: none;
    text-align: start;
    padding-left: 10px;
    padding-bottom: 0;
    margin: 20px 0px 20px 0px;
    padding-bottom: 10px;
}
.chat-bar-collapsible .content .full-chat-block .outer-container .chat-container .questions_posees ol {
    margin-top: 0;
    margin-left: 10px;
    text-align: start;
    padding-left: 1.4em;
    text-align: left;
    margin: 0px 0px 16px 10px;
    color: black;
    padding-bottom: 10px;
}
.chat-bar-collapsible .content .full-chat-block .outer-container .chat-container .questions_posees ol li {
    margin-bottom: .5em;
}

.chat-bar-collapsible .chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-bar-collapsible .chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-collapsible .chat-bar-input-block {
    display: flex;
    position: static;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #cccccc9e;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
    margin-top: 10px;
}

.chat-bar-collapsible .chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

.chat-bar-collapsible #chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */

.chat-bar-collapsible #userInput {
    width: 75%;
}

.chat-bar-collapsible .input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.chat-bar-collapsible .userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
    padding-bottom: 10px;
}

.chat-bar-collapsible .userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #0e7994cf;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards;
    color: white;
}

.chat-bar-collapsible .botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    padding-bottom: 10px;
}

.chat-bar-collapsible .botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards;
    color: black;
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .chat-bar-collapsible .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .chat-bar-collapsible .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}