body::before {
    content: "";
    padding: 0;
    margin: 0;
    position: fixed;
    background: #f5ecec url("../img/contact.webp") top right no-repeat;
    background-size: cover;
    background-position: center;
    left: 0;
    right: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: -1;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*          MISE EN FORME DE LA PARTIE CONTACT         */
/* --------------------------------------------------- */



.contact #contact_titre .contact_flou {
    font-family: 'Odor Mean Chey', serif;
    font-size: 200px;
    text-align: center;
    line-height: 15%;
    padding-top: 9%;
    opacity: 5px;
    color: #199688;
}
.contact #contact_titre .contact_double {
    font-family: 'Odor Mean Chey', serif;
    font-size: 125px;
    text-align: center;
    line-height: 40%;
    padding-bottom: 5%;
    margin: 0;
    color: #0E7894;
}

.contact form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 800px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    background: #ccc;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}
.contact form:hover {
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-box-shadow: 0 0 10px #01ffe19c;
}
.contact form div {
    margin-top: 1em;
    align-items: center;
    text-align: center;
} 
.contact input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police. Par défaut, les textarea ont une police monospace */
    font-size: 1em sans-serif;
    /* Pour que tous les champs texte aient la même dimension */
    width: 500px;
    height : 50px;
    box-sizing: border-box;
    padding-left: 10px;
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    background: transparent;
}
.contact input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: red;
}
.contact textarea {
    /* Pour donner assez de place pour écrire du texte */
    height: auto;
    align-items: center;
    font-size: 1em sans-serif;
    width: 500px;
    height: 70px;
    box-sizing: border-box;
    padding-left: 10px;
}
.contact button {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 140px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    background: #0E7894;
    color: white;
    border-radius: 20px;
    border: 0;
}
.contact button:hover {
    -webkit-animation-duration: 2s;
    background: #128D5A;
    border: 0;
    color: white;
}




/* NOS AGENCES */
.agences #agences_titre .agences_flou {
    font-family: 'Odor Mean Chey', serif;
    font-size: 60px;
    line-height: 15%;
    padding-top: 50px;
    opacity: 5px;
    color: rgba(3, 125, 141, 0.39);
}
.agences #agences_titre .agences_double {
    font-family: 'Odor Mean Chey', serif;
    font-size: 45px;
    line-height: 40%;
    padding-bottom: 30px;
    padding-left: 3%;
    margin: 0;
    color: #FFFFFF;
}
.agences .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: 'Odor Mean Chey', serif, bold;
  font-size: 20px;
  color: #128D5A;
}
.agences .active, .accordion:hover {
  background-color: #ccc;
}
.agences .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.agences .active:after {
  content: "\2212";
}
.agences .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.agences .panel h3 {
    font-family: 'Odor Mean Chey', serif;
    font-size: 20px;
    padding-top: 4%;
    margin: 0;
    color: #0E7894;
}
.agences .panel p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 3%;
    margin-bottom: 0;
    color: #199688;
}