/* ------------------------------------------------------- */
/*           MISE EN FORME DE MA PAGE PORTFOLIO            */

/* --------------------------------- */
/* --------------------------------- */
/* MISE EN FORME DU TITRE DE LA PAGE */
/* --------------------------------- */
#portfolio_entrep .portfolio_titre {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20vh;
    align-items: center;
    margin-top: 8vh;
    background-image: url("../img/Fond_titre.webp");
    background-size: cover;
}
#portfolio_entrep .portfolio_titre .portfolio_flou {
    font-family: cursive;
    text-align: center;
    font-size: 200px;
    color: rgb(3 125 141);
    text-shadow:  white 0.006em 0.006em 0.007em,
                    #9c9c9c 1px 1px 1px,
                    #9c9c9c 1px 2px 1px,
                    #9c9c9c 1px 3px 1px,
                    #9c9c9c 1px 4px 1px,
                    #9c9c9c 1px 5px 1px,
                    #9c9c9c 1px 6px 1px,
                    #9c9c9c 1px 7px 1px,
                    #9c9c9c 1px 8px 1px,
                    #9c9c9c 1px 9px 1px,
                    #9c9c9c 1px 10px 1px,
                    #9c9c9c 1px 11px 1px,
                    #9c9c9c 1px 12px 1px;
}
/* Mise en forme pour écran < 450px */
@media screen and (max-width: 450px) {
    #portfolio_entrep .portfolio_titre {
        grid-template-rows: 20vh;
    }
    #portfolio_entrep .portfolio_titre .portfolio_flou {
        font-size: 50px;
	}
}
/* Mise en forme pour écran entre 450 px et 700px */
@media screen and (min-width: 450px) and (max-width: 700px) {
    #portfolio_entrep .portfolio_titre {
        grid-template-rows: 25vh;
    }
    #portfolio_entrep .portfolio_titre .portfolio_flou {
        font-size: 100px;
	}
}
/* Mise en forme pour écran entre 700 px et 1200px  */
@media screen and (min-width: 700px) and (max-width: 1200px) {
    #portfolio_entrep .portfolio_titre {
        grid-template-rows: 30vh;
    }
    #portfolio_entrep .portfolio_titre .portfolio_flou {
        font-size: 120px;
	}
}
/* Mise en forme pour écran entre 1200 px et 1600px  */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
    #portfolio_entrep .portfolio_titre {
        grid-template-rows: 35vh;
    }
    #portfolio_entrep .portfolio_titre .portfolio_flou {
        font-size: 150px;
	}
}
/* Mise en forme pour écran supérieur à 1600px */
@media screen and (min-width: 1600px) {
    #portfolio_entrep .portfolio_titre {
        grid-template-rows: 40vh;
    }
    #portfolio_entrep .portfolio_titre .portfolio_flou {
        font-size: 200px;
	}
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*              MISE EN FORME DU PORTFOLIO             */
/* --------------------------------------------------- */

#portfolio_entrep .portfolio .rex_client .superposition {
    display: inline-block;
    position: relative;
}
#portfolio_entrep .portfolio .rex_client .superposition img:first-of-type {
    height: auto;
}
#portfolio_entrep .portfolio .rex_client .superposition img:last-of-type {
    height: auto;
    width: 25%;
}
#portfolio_entrep .portfolio .rex_client .superposition img:nth-of-type(2) {
    position: absolute;
    left: 10px;
    top: 10px;
}

#portfolio_entrep .header {
    text-align: center;
    padding: 32px;
}
  
#portfolio_entrep .portfolio {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-around;
}
  
#portfolio_entrep .column {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}
  
#portfolio_entrep .column img {
    vertical-align: middle;
    width: 100%;
}
  
@media screen and (max-width: 1200px) {
    #portfolio_entrep .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}
  
@media screen and (max-width: 600px) {
    #portfolio_entrep .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}

#portfolio_entrep .portfolio .column .rex_client {
    position: relative;
    margin-top: 10px;
    padding: 0 0px;
}
  
#portfolio_entrep .portfolio .column .rex_client .overlay {
    position: absolute;
    bottom: 100%;
    background-color: #008bba;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}

#portfolio_entrep .portfolio .column .rex_client:hover .overlay {
    bottom: 0;
    height: 100%;
}
  
#portfolio_entrep .portfolio .column .rex_client .text h1 {
    font-family: 'Odor Mean Chey', serif;
    font-size: 45px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}
#portfolio_entrep .portfolio .column .rex_client .text .separation {
    border-top: 1px solid #9c9c9c;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
#portfolio_entrep .portfolio .column .rex_client .text p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #FFFFFF;
    text-align: justify;
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*         MISE EN FORME DU BANDEAU DES COOKIES        */
/* --------------------------------------------------- */

.bandeau_cookies {
    position: fixed;
    width: 100%;
    background-color: rgb(238, 238, 238);
    margin: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    z-index: 1000;
    font-size: 15px;
    text-align: center;
}
.bandeau_cookies .info_cookies span {
    color: #9c9c9c;
}
.bandeau_cookies .plus_cookies, 
.bandeau_cookies .autoriser_cookies {
    text-decoration: none;
    color: #393631;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}
.bandeau_cookies .plus_cookies:hover, 
.bandeau_cookies .autoriser_cookies:hover {
    color: #0E7894;
}