html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
  margin:0;
  background: #eee;
  font-family: 'Space Mono', monospace;
}

.grid{
  display:grid;
  grid-gap: 24px;
  gap:24px;
  justify-content: center;	
  margin:72px 0 24px 0;
  padding:0 24px;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: 288px;
  grid-auto-flow: row dense;
}

.s{
  grid-column-end: span 1;
  grid-row-end:span 1;
}

.m{
  grid-column-end: span 1;
  grid-row-end:span 2;
}

.l{
  grid-column-end: span 2;
  grid-row-end:span 2;
}
