/* ------------------------------------------------------- */
/*           MISE EN FORME DE MA PAGE PORTFOLIO            */

/* --------------------------------- */
/* --------------------------------- */
/* MISE EN FORME DU TITRE DE LA PAGE */
/* --------------------------------- */
#portfolio_entrep .portfolio_titre {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20vh;
    align-items: center;
    margin-top: 8vh;
    background-image: url("../img/Fond_titre.webp");
    background-size: cover;
}
#portfolio_entrep .portfolio_titre .portfolio_flou {
    font-family: cursive;
    text-align: center;
    font-size: 200px;
    color: rgb(3 125 141);
    text-shadow:  white 0.006em 0.006em 0.007em,
                    #9c9c9c 1px 1px 1px,
                    #9c9c9c 1px 2px 1px,
                    #9c9c9c 1px 3px 1px,
                    #9c9c9c 1px 4px 1px,
                    #9c9c9c 1px 5px 1px,
                    #9c9c9c 1px 6px 1px,
                    #9c9c9c 1px 7px 1px,
                    #9c9c9c 1px 8px 1px,
                    #9c9c9c 1px 9px 1px,
                    #9c9c9c 1px 10px 1px,
                    #9c9c9c 1px 11px 1px,
                    #9c9c9c 1px 12px 1px;
}
/* Mise en forme pour écran < 450px */
@media screen and (max-width: 450px) {
    #portfolio_entrep .portfolio_titre {
        grid-template-rows: 20vh;
    }
    #portfolio_entrep .portfolio_titre .portfolio_flou {
        font-size: 50px;
	}
}
/* Mise en forme pour écran entre 450 px et 700px */
@media screen and (min-width: 450px) and (max-width: 700px) {
    #portfolio_entrep .portfolio_titre {
        grid-template-rows: 25vh;
    }
    #portfolio_entrep .portfolio_titre .portfolio_flou {
        font-size: 100px;
	}
}
/* Mise en forme pour écran entre 700 px et 1200px  */
@media screen and (min-width: 700px) and (max-width: 1200px) {
    #portfolio_entrep .portfolio_titre {
        grid-template-rows: 30vh;
    }
    #portfolio_entrep .portfolio_titre .portfolio_flou {
        font-size: 120px;
	}
}
/* Mise en forme pour écran entre 1200 px et 1600px  */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
    #portfolio_entrep .portfolio_titre {
        grid-template-rows: 35vh;
    }
    #portfolio_entrep .portfolio_titre .portfolio_flou {
        font-size: 150px;
	}
}
/* Mise en forme pour écran supérieur à 1600px */
@media screen and (min-width: 1600px) {
    #portfolio_entrep .portfolio_titre {
        grid-template-rows: 40vh;
    }
    #portfolio_entrep .portfolio_titre .portfolio_flou {
        font-size: 200px;
	}
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*              MISE EN FORME DU PORTFOLIO             */
/* --------------------------------------------------- */

#portfolio_entrep .header {
    text-align: center;
    padding: 32px;
}
  
#portfolio_entrep .portfolio {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
  
#portfolio_entrep .column {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}
  
#portfolio_entrep .column img {
    vertical-align: middle;
    width: 100%;
}
  
@media screen and (max-width: 1200px) {
    #portfolio_entrep .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}
  
@media screen and (max-width: 600px) {
    #portfolio_entrep .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}


/*#portfolio_entrep .portfolio .column .rex_client {
    float: left;
    color: black;
    width: 100;
    text-align: center;
    margin: 2px;
    display: none;
}*/
 
#portfolio_entrep .portfolio .column .rex_client {
    position: relative;
    margin-top: 10px;
    padding: 0 0px;
}
  
#portfolio_entrep .portfolio .column .rex_client .overlay {
    position: absolute;
    bottom: 100%;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
  
#portfolio_entrep .portfolio .column .rex_client:hover .overlay {
    bottom: 0;
    height: 100%;
}
  
#portfolio_entrep .portfolio .column .rex_client .text {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    align-items: center;
}






