/* --------------------------------------------------- */
/*            MISE EN FORME DE MA PAGE WEB             */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html, body{
    font-size: 16px;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f3f3f3;
    color: #fff;
    position: relative;
    background: transparent;
    box-sizing: border-box;
}
body::before {
    content: "";
    padding: 0;
    margin: 0;
    position: fixed;
    background: #f5ecec url("../img/") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    box-sizing: border-box;
    height: auto;
    z-index: -1;
}
span{
	color: #ff7600;
}
/* MISE EN PAGE POUR SMARTPHONE */
@media screen and (max-width: 750px) {
	body {
		padding: 0 0;
	}
}

/* Appel des différents styles */
/* Ecriture du Titre principal de la page */
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap'); /* font-family: 'Montserrat', sans-serif; */
/* Ecriture du Sous-titre du Titre principal de la page */
	@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap'); /* font-family: 'Montaga', serif; */
/* Ecriture des différentes sous-parties */
	@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap'); /* font-family: 'Odor Mean Chey', serif; */
/* Ecriture des différents paragraphes */
	@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap'); /* font-family: 'Molengo', sans-serif; */
    @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap'); /* font-family: 'Shadows Into Light', cursive; */
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap'); /* font-family: 'Montserrat', sans-serif; */
	@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap'); /* font-family: 'Merriweather', serif; */

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*       MISE EN FORME DE LA BARRE DE NAVIGATION       */
/* --------------------------------------------------- */
header {
    position: fixed;
    width: 100%;
    height: 56px;
    top: 0;
    left: 0;
    background: white;
    color: black;
    padding: 0 2%;
    z-index: 1;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
	font-family: fangsong;
	font-style: italic;
    font-weight: bold;
    font-size: 46px;
    text-decoration: none;
    color: green;
}
.logo img {
    vertical-align: initial;
    width: auto;
    height: 32px;
}
.toggle {
    display: none;
}
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.menu li {
    padding-left: 15px;
}
.menu li a {
    color: black;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.menu a.active {
    border-bottom: 3px solid #125c8d;
}
.menu a:hover {
    border-bottom: 3px solid #128D5A;
}
div {
    color: #125c8d;
}
/* Mise en forme pour les différentes tailles d'écran */
@media all and (max-width: 800px) {
    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }
    .logo a {
        position: relative;
        z-index: 20;
        font-size: 28px;    
    }
    .logo img {
        height: 20px;
    }
    .ouvrir {
        display: block;
    }
    .fermer {
        display: none;
    }
    .open .ouvrir {
        display: none;
    }
    .open .fermer {
        display: block;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background: white;
        flex-direction: column;
        padding-top: 6vh;
		padding-bottom: 20px;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }
	.menu li {
		padding-top: 15px;
}
    .menu li a {
        font-size: 2rem;
    }
    .open .menu {
        transform: translateX(0);
    }
}
@media all and (min-width: 400px) and (max-width: 510px) {
    .logo a {
        font-size: 34px;    
    }
   .logo img {
        height: 24px;
    }
}
/* Mise en forme pour écran entre 450 px et 700px */
@media all and (min-width: 510px) and (max-width: 800px) {
    .logo a {
        font-size: 40px;    
    }
   .logo img {
        height: 28px;
    }
}
/* Mise en forme pour écran entre 800 px et 1000px  */
@media all and (min-width: 800px) and (max-width: 1000px) {
    .logo a {
        font-size: 28px;    
	}
	.logo img {
        height: 20px;
	}
	.menu li a {
		font-size: 20px;
	}
}
/* Mise en forme pour écran entre 1000 px et 1200px  */
@media all and (min-width: 1000px) and (max-width: 1200px) {
    .logo a {
        font-size: 34px;    
	}
	.logo img {
        height: 24px;
	}
	.menu li a {
		font-size: 26px;
	}
}
/* Mise en forme pour écran entre 1200 px et 1600px  */
@media all and (min-width: 1200px) and (max-width: 1600px) {
    .logo a {
        font-size: 40px;    
    }
	.logo img {
        height: 28px;
	}
	.menu li a {
		font-size: 28px;
	}
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*             MISE EN FORME PAGE D'ACCEUIL            */
/* --------------------------------------------------- */
#index {
    background: #1d1d1d;
}
#page_acceuil {
	position: relative;
	height: calc(90vh - 60px);
    min-height: 540px;
    max-height: 1100px;
    background: #1d1d1d;
    padding: 56px 0 0 0;
}
#page_acceuil .cont_intro{
    position: relative;
	height: 100%;
    width: 90%;
    margin: 0 auto;
}
#page_acceuil .cont_intro .intro_text{
    position: absolute;
    top:calc(50% + 60px);
    left: 0;
    width: 61%;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
#page_acceuil .cont_intro .intro_text h1{
	z-index: 5;
	margin: 10px 0 0 0;
    font-size: 100px;
    font-family: fangsong;
    font-style: italic;
    font-weight: 700;
    color: #ffffff;
    line-height: 88px;
}
#page_acceuil .cont_intro .intro_text span{
	display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #fec303;
    margin: 46px 0;
}
#page_acceuil .cont_intro .intro_text span::before{
	content: "";
    position: relative;
    display: inline-block;
    height: 2px;
    width: 40px;
    bottom: 4px;
    background: #fec303;
    margin-right: 16px;
}
#page_acceuil .cont_intro .intro_text p{
	display: block;
	font-family: 'Merriweather', serif;
	text-align: justify;
    max-width: 410px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #fff;
}
#page_acceuil .cont_intro .intro_desc{
    position: absolute;
    right: 0;
    bottom: 60px;
    height: 356px;
    width: 838px;
    z-index: 1;
}
#page_acceuil .cont_intro .intro_desc .desc_choix {
	content:"";
	position:absolute;
	display:block;
	left:0;
	top:0;
	bottom:-40px;
	width:258px;
	z-index:-1;
	-webkit-transition:all .2s ease;
	transition:all .2s ease;
}
#page_acceuil .cont_intro .intro_desc .desc_choix .wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #161616;
    -webkit-box-shadow: -14px 27px 51px 0 rgb(19 19 19 / 28%);
    -moz-box-shadow: -14px 27px 51px 0 rgba(19,19,19,.28);
    box-shadow: -14px 27px 51px 0 rgb(19 19 19 / 28%);
}
#page_acceuil .cont_intro .intro_desc .desc_choix:after {
    content: "";
    position: absolute;
    display: block;
    left: 20px;
    top: 122px;
    height: 2px;
    width: 838px;
    min-width: calc(100% - 20px);
    background: rgba(255,255,255,.05);
    z-index: 1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(2):hover~.desc_choix{
	left:285px;
	}
#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(3):hover~.desc_choix{
	left:575px;
	}
#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(2):hover~.desc_choix::after{
	width:calc(50vw - 317px);
	}
#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(3):hover~.desc_choix::after{
	width:calc(50vw - 602px);
	}
#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(2):hover~.desc_img .ctn:nth-child(2){
	opacity:1;
	}
#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(3):hover~.desc_img .ctn:nth-child(3){
	opacity:1;
	}
#page_acceuil .cont_intro .intro_desc:hover .desc_serv:first-child{
	opacity:.3;
	}
#page_acceuil .cont_intro .intro_desc:hover .desc_serv:first-child a{
	opacity:0;
	}
#page_acceuil .cont_intro .intro_desc .desc_serv:hover,#page_acceuil .cont_intro .intro_desc .desc_serv:hover a{
	opacity:1;
	}
#page_acceuil .cont_intro .intro_desc .desc_choix h6 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 17px;
    font-weight: 600;
    line-height: 17px;
    color: #fff;
    margin: 81px 0 0;
    padding: 0 20px;
    z-index: 2;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: default;
}
#page_acceuil .intro_desc .desc_choix h6::before {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 40px;
    left: 20px;
    bottom: -27px;
    background: #fec303;
    z-index: 3;
}
#page_acceuil .intro_desc .desc_choix h6::after {
    content: "";
    position: absolute;
    display: block;
    height: 14px;
    width: 18px;
    left: 187px;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0NSAzNC44IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NSAzNC44OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0ZFQzMwMzt9PC9zdHlsZT48Zz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNNDUsMTdjMC0xLjMtMC41LTIuNC0xLjQtMy4zbC0xMy0xM2MtMS0xLTIuNi0xLTMuNSwwYy0xLDEtMSwyLjYsMCwzLjVsMTAuNiwxMC42SDIuNUMxLjEsMTQuOCwwLDE2LDAsMTcuNGMwLDAsMCwwLDAsMGMwLDEuNCwxLjEsMi41LDIuNSwyLjVoMzUuMkwyNy4xLDMwLjVjLTEsMS0xLDIuNiwwLDMuNWMxLDEsMi42LDEsMy41LDBsMTMtMTNjMC45LTAuOSwxLjQtMi4xLDEuNC0zLjNDNDUsMTcuNiw0NSwxNy4xLDQ1LDE3eiIvPjwvZz48L3N2Zz4=);
    z-index: 3;
}

#page_acceuil .intro_desc .desc_serv{
	display:inline-block;
	text-decoration: none;
	vertical-align:top;
	width:285px;
	padding:169px 47px 54px 20px;
	z-index:2;
	-webkit-transition:all .2s ease;
	transition:all .2s ease;
}
#page_acceuil .intro_desc .desc_serv:nth-child(2){
	width:285px;
	opacity:.3;
	padding-right:20px;
}
#page_acceuil .intro_desc .desc_serv:nth-child(3){
	width:258px;
	opacity:.3;
	padding-right:20px;
}
#page_acceuil .intro_desc .desc_serv:nth-child(2) a{
	opacity:0;
}
#page_acceuil .intro_desc .desc_serv:nth-child(3) a{
	opacity:0;
}
#page_acceuil .intro_desc .desc_img {
    position: absolute;
    right: 15px;
    bottom: 49px;
    height: 50vh;
    max-height: 800px;
    min-height: 400px;
    width: 570px;
    overflow: hidden;
    pointer-events: none;
    opacity: 1;
    z-index: -2;
    background: #161616;
}
#page_acceuil .intro_desc .desc_img div{
	opacity:.7
}
#page_acceuil .intro_desc .desc_img .ctn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
#page_acceuil .intro_desc .desc_img .ctn:nth-child(2) {
    opacity: 0;
}
#page_acceuil .intro_desc .desc_img .ctn:nth-child(3) {
    opacity: 0;
}

#page_acceuil .intro_desc strong{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 17px;
    line-height: 17px;
    margin: 0 0 29px;
}
#page_acceuil .intro_desc p{
    position: relative;
    font-size: 15px;
    line-height: 26px;
    color: #fff;
    margin: 0 0 25px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    max-height: 150px;
    overflow: hidden;
}
#page_acceuil .intro_desc p::after{
    content: "...";
    position: absolute;
    bottom: 0;
    right: 5px;
    box-shadow: 0 0 5px 4px #161616;
    display: block;
    background: #161616;
    height: 26px;
}
#page_acceuil .intro_desc span{
	font-size: 14px;
    line-height: 14px;
    color: #959593;
	transition: all .2s ease;
}
#page_acceuil .intro_desc span:hover{
    color: #c8c8c8;
}


/* Mise en forme pour écran < 450px */
@media screen and (max-width: 450px) {
	#page_acceuil {
	    height: auto;
		min-height: 0;
	}
	#page_acceuil .cont_intro .intro_text {
		position: relative;
		left: 40px;
		width: 78%;
		top: 230px;
	}
	#page_acceuil .cont_intro .intro_text p {
		max-width: 100%;
	}
	#page_acceuil .cont_intro .intro_text h1{
		font-size: 40px;
		line-height: 48px;
	}
	#page_acceuil .cont_intro .intro_text span{
		font-size: 16px;
		line-height: 18px;
		margin: 32px 0;
	}
	#page_acceuil .cont_intro .intro_desc{
		position: relative;
		top: 30px;
		bottom: auto;
		width: 100%;
	}
	#page_acceuil .intro_desc .desc_serv{
		width:30vw;
		padding-right: 3vw;
		padding-left: 10px;
	}
	#page_acceuil .intro_desc .desc_serv:nth-child(2){
		width:30vw;
		padding-right: 3vw;
		padding-left: 10px;
	}
	#page_acceuil .intro_desc .desc_serv:nth-child(3){
		width:27vw;
		padding-left: 10px;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(2):hover~.desc_choix{
		left:30vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(3):hover~.desc_choix{
		left:60vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(2):hover~.desc_choix::after{
		width:57vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(3):hover~.desc_choix::after{
		width:27vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_choix {
		width:27vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_choix:after {
		width: 85vw;
	}
	#page_acceuil .intro_desc .desc_choix h6::after {
		left: 120px;
	}
	#page_acceuil .intro_desc .desc_img {
		bottom: 0px;
		height: 29vh;
		right: 5%;
		bottom: 50px;
		height: 29vh;
		max-height: auto;
		min-height: auto;
		width: 90%;
	}
}
/* Mise en forme pour écran entre 450 px et 700px */
@media screen and (min-width: 450px) and (max-width: 700px) {
	#page_acceuil {
	    height: auto;
		min-height: 0;
		padding: 160px 0 110px;
	}
	#page_acceuil .cont_intro {
		width: 100%;
	}
	#page_acceuil .cont_intro .intro_text {
		position: relative;
		left: 40px;
		width: 78%;
		top: 230px;
	}
	#page_acceuil .cont_intro .intro_text p {
		max-width: 100%;
	}
	#page_acceuil .cont_intro .intro_text h1{
		font-size: 50px;
		line-height: 58px;
	}
	#page_acceuil .cont_intro .intro_text span{
		font-size: 16px;
		line-height: 18px;
		margin: 32px 0;
	}
	#page_acceuil .cont_intro .intro_desc{
		position: relative;
		top: 30px;
		bottom: auto;
		width: 100%;
	}
	#page_acceuil .intro_desc .desc_serv{
		width:30vw;
		padding-right: 3vw;
		padding-left: 10px;
	}
	#page_acceuil .intro_desc .desc_serv:nth-child(2){
		width:30vw;
		padding-right: 3vw;
		padding-left: 10px;
	}
	#page_acceuil .intro_desc .desc_serv:nth-child(3){
		width:27vw;
		padding-left: 10px;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(2):hover~.desc_choix{
		left:30vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(3):hover~.desc_choix{
		left:60vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(2):hover~.desc_choix::after{
		width:57vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(3):hover~.desc_choix::after{
		width:27vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_choix {
		width:27vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_choix:after {
		width: 85vw;
	}
	#page_acceuil .intro_desc .desc_choix h6::after {
		left: 120px;
	}
	#page_acceuil .intro_desc .desc_img {
		bottom: 0px;
		height: 29vh;
		right: 5%;
		bottom: 0px;
		height: 29vh;
		max-height: auto;
		min-height: auto;
		width: 90%;
	}
}
/* Mise en forme pour écran entre 700 px et 1200px  */
@media screen and (min-width: 700px) and (max-width: 1200px) {
	#page_acceuil .cont_intro {
		width: 100%;
	}
	#page_acceuil .cont_intro .intro_text {
		position: relative;
		left: 40px;
		width: 78%;
		top: 230px;
	}
	#page_acceuil .cont_intro .intro_text p {
		max-width: 100%;
	}
	#page_acceuil .cont_intro .intro_text h1{
		font-size: 60px;
		line-height: 68px;
	}
	#page_acceuil .cont_intro .intro_text span{
		font-size: 16px;
		line-height: 18px;
		margin: 32px 0;
	}
	#page_acceuil .cont_intro .intro_desc{
		position: relative;
		top: 30px;
		bottom: auto;
		width: 100%;
	}
	#page_acceuil .intro_desc .desc_serv{
		width:30vw;
		padding-right: 3vw;
		padding-left: 10px;
	}
	#page_acceuil .intro_desc .desc_serv:nth-child(2){
		width:30vw;
		padding-right: 3vw;
		padding-left: 10px;
	}
	#page_acceuil .intro_desc .desc_serv:nth-child(3){
		width:27vw;
		padding-left: 10px;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(2):hover~.desc_choix{
		left:30vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(3):hover~.desc_choix{
		left:60vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(2):hover~.desc_choix::after{
		width:57vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(3):hover~.desc_choix::after{
		width:27vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_choix {
		width:27vw;
	}
	#page_acceuil .cont_intro .intro_desc .desc_choix:after {
		width: 85vw;
	}
	#page_acceuil .intro_desc .desc_img {
		bottom: 0px;
		height: 29vh;
		right: 5%;
		bottom: 50px;
		height: 29vh;
		max-height: auto;
		min-height: auto;
		width: 90%;
	}
}
/* Mise en forme pour écran entre 1200 px et 1600px  */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
	#page_acceuil .cont_intro {
		width: 100%;
	}
	#page_acceuil .cont_intro .intro_text {
		left: 40px;
		width: 800px;
	}
	#page_acceuil .cont_intro .intro_text h1{
		font-size: 70px;
		line-height: 78px;
	}

	#page_acceuil .cont_intro .intro_text span{
		font-size: 28px;
	}
	#page_acceuil .cont_intro .intro_desc{
		width: 628px;
        bottom: 0px;
        right: 17px;
	}
	#page_acceuil .cont_intro .intro_desc .desc_choix {
		width:188px;
	}
	#page_acceuil .cont_intro .intro_desc .desc_choix:after {
		width: 575px;
	}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(2):hover~.desc_choix{
		left:215px;
		}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(3):hover~.desc_choix{
		left:430px;
		}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(2):hover~.desc_choix::after{
		width:calc(50vw - 360px);
		}
	#page_acceuil .cont_intro .intro_desc .desc_serv:nth-child(3):hover~.desc_choix::after{
		width:calc(50vw - 602px);
	}
	#page_acceuil .intro_desc .desc_choix h6::after {
		left: 160px;
	}
	#page_acceuil .intro_desc .desc_serv{
		width:215px;
	}
	#page_acceuil .intro_desc .desc_serv:nth-child(2){
		width:215px;
	}
	#page_acceuil .intro_desc .desc_serv:nth-child(3){
		width:188px;
	}
	#page_acceuil .intro_desc p{
		font-size: 13px;
	}
}
/* Mise en forme pour écran supérieur à 1600px */
@media screen and (min-width: 1600px) {
	#page_acceuil .cont_intro .intro_text h1{
		font-size: 130px;
	}
	#page_acceuil .cont_intro .intro_text span{
		font-size: 30px;
	}
}




/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*        MISE EN FORME DU PIED DE PAGE (FOOTER)       */
/* --------------------------------------------------- */

footer {
    position: sticky;
    top: 100%;
    width: 100%;
    background: #565656;
    min-height: 100px;
    padding: 10px 40px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon, footer .mentions_CGU {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    color: white;
}
footer .social_icon li, footer .mentions_CGU li {
    list-style: none;
}
footer .social_icon li a, footer .mentions_CGU li a {
    font-size: 20px;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover {
    transform: translateY(-10px);
    color: #128D5A;
}
footer .mentions_CGU li a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
    margin: 0 5px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;

}
footer .mentions_CGU li a:hover {
    opacity: 1;
    color: white;
    border-bottom: transparent;
    text-decoration: none;
}
footer p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*            MISE EN FORME DE LA NEWSLETTER           */
/* --------------------------------------------------- */

.newsletter {
    position: fixed;
    bottom: 150px;
    right: 20px;
    margin-left: 20px;
    max-width: 310px;
	z-index: 10;
}  
.newsletter .newsletter-header {
    padding: 10px 15px;
    background: #125c8daf;
    font-size: 15px;
    color: white;
} 
.newsletter .newsletter-container {
    padding: 10px;
    background-color: rgba(204, 204, 204, 0.76);
    color: black
} 
.newsletter .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
} 
.newsletter .closebtn:hover {
    color: black;
}  
.newsletter input[type=text], .newsletter input[type=submit] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}  
.newsletter input[type=checkbox] {
    margin-top: 16px;
} 
.newsletter input[type=submit] {
    background-color: #128d5aaf;
    color: white;
    border: none;
    width: 100%;
} 
.newsletter input[type=submit]:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*         MISE EN FORME DU BANDEAU DES COOKIES        */
/* --------------------------------------------------- */
.bandeau_cookies {
    position: fixed;
    width: 100%;
    background-color: rgb(238, 238, 238);
    margin: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    z-index: 1000;
    font-size: 15px;
    text-align: center;
}
.bandeau_cookies .info_cookies span {
    color: #9c9c9c;
}
.bandeau_cookies .plus_cookies, 
.bandeau_cookies .autoriser_cookies {
    text-decoration: none;
    color: #393631;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}
.bandeau_cookies .plus_cookies:hover, 
.bandeau_cookies .autoriser_cookies:hover {
    color: #0E7894;
}