/* --------------------------------------------------- */
/*            MISE EN FORME DE MA PAGE WEB             */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html, body{
    height: 100vh;
    font-size: 16px;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f3f3f3;
    color: #fff;
    position: relative;
    background: transparent;
    box-sizing: border-box;
}
body::before {
    content: "";
    padding: 0;
    margin: 0;
    position: fixed;
    background: #f5ecec url("../img/") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    box-sizing: border-box;
    height: 100%;
    z-index: -1;
}

span{
	color: #ff7600;
}
/* MISE EN PAGE POUR SMARTPHONE */
@media screen and (max-width: 750px) {
	body {
		padding: 0 0;
	}
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*       MISE EN FORME DE LA BARRE DE NAVIGATION       */
/* --------------------------------------------------- */

header {
    position: fixed;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background: white;
    color: black;
    padding: 0 2%;
    z-index: 1;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: green;
}
.logo img {
    vertical-align: middle;
    width: 70px;
    height: auto;
}
.toggle {
    display: none;
}
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.menu li {
    padding-left: 15px;
}
.menu li a {
    color: black;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.menu a.active {
    border-bottom: 3px solid #125c8d;
}
.menu a:hover {
    border-bottom: 3px solid #128D5A;
}
div {
    color: #125c8d;
}

/* Mise en forme pour les différentes tailles d'écran */
@media all and (max-width: 800px) {
    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }
    .logo a {
        position: relative;
        z-index: 20;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;    
    }
    .logo img {
        width: auto;
        height: 23px;
        vertical-align: middle;
    }
    .ouvrir {
        display: block;
    }
    .fermer {
        display: none;
    }
    .open .ouvrir {
        display: none;
    }
    .open .fermer {
        display: block;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        background: white;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }
    .menu li a {
        font-size: 2rem;
    }
    .open .menu {
        transform: translateX(0);
        padding-top: 23%;
    }
}
@media all and (min-width: 920px) and (max-width: 1100px) {
    .logo a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;    
    }
}
@media all and (min-width: 800px) and (max-width: 920px) {
    .logo a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 23px;    
    }
    .logo img {
        width: auto;
        height: 23px;
        vertical-align: middle;
    }
}
@media all and (min-width: 510px) and (max-width: 800px) {
    .open .menu {
        transform: translateX(0);
        padding-top: 10%;
    }
}
@media all and (min-width: 400px) and (max-width: 510px) {
    .open .menu {
        transform: translateX(0);
        padding-top: 16%;
    }
}




/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*        MISE EN FORME DU PIED DE PAGE (FOOTER)       */
/* --------------------------------------------------- */

footer {
    position: sticky;
    top: 100%;
    width: 100%;
    background: #565656;
    min-height: 100px;
    padding: 10px 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon, footer .mentions_CGU {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    color: white;
}
footer .social_icon li, footer .mentions_CGU li {
    list-style: none;
}
footer .social_icon li a, footer .mentions_CGU li a {
    font-size: 20px;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover {
    transform: translateY(-10px);
    color: #128D5A;
}
footer .mentions_CGU li a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
    margin: 0 5px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;

}
footer .mentions_CGU li a:hover {
    opacity: 1;
    color: white;
    border-bottom: transparent;
    text-decoration: none;
}
footer p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/*               MISE EN FORME DU CHAT BOT             */
/* --------------------------------------------------- */


